{% extends "base.html" %}
{% block content %}

{% for name, url, last_updated, _ in data %}
<div class="row">
    <figure class="figure mx-auto">
        <img src="{{ url }}" alt="{{ name }}" class="img-fluid mx-auto d-block">
        <p class="figure-caption" style="text-align:left;">
            {{ name }}
            <span style="float:right;">
                {{ last_updated }}
            </span>
        </p>
    </figure>
</div>
{% endfor %}
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-outline-dark btn-sm" href="/debug" role="button">DEBUG</a>
        </div>
    </div>
</div>

{% endblock %}
