

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pokerstars Dashboard</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body class="text-center dark">
        <div class="container">
        <table class="table table-dark">
            <tr>
                <th>Screenshot</th>
                <th>Last Checked</th>
            </tr>
            {% for _, url, last_modified in data %}
            <tr>
                <th><img src="{{ url }}"></th>
                <th>{{ last_modified }}</th>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

