<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pokerstars Dashboard</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body class="dark">
        <div class="container">
            {% for name, url, last_updated, _ in data %}
            <div class="row">
                <figure class="figure mx-auto">
                    <img src="{{ url }}" alt="{{ name }}" class="img-fluid mx-auto d-block">
                    <figcaption class="figure-caption text-right">{{ last_updated }}</figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-outline-dark btn-sm" href="/debug" role="button">DEBUG</a>
                </div>
            </div>
        </div>
    </body>
</html>
